javearticuloscliente/src/META-INF/wsdl/localhost_9990/ws/javearticulos/usuario.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://api/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://api/" name="ApiUsuariosService">
<types>
<xsd:schema>
<xsd:import namespace="http://api/" schemaLocation="http://localhost:8181/ws/javearticulos/usuario?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="usuarioTipo">
<part name="parameters" element="tns:usuarioTipo"></part>
</message>
<message name="usuarioTipoResponse">
<part name="parameters" element="tns:usuarioTipoResponse"></part>
</message>
<message name="crearRevisor">
<part name="parameters" element="tns:crearRevisor"></part>
</message>
<message name="crearRevisorResponse">
<part name="parameters" element="tns:crearRevisorResponse"></part>
</message>
<message name="crearAutor">
<part name="parameters" element="tns:crearAutor"></part>
</message>
<message name="crearAutorResponse">
<part name="parameters" element="tns:crearAutorResponse"></part>
</message>
<portType name="ApiUsuarios">
<operation name="usuarioTipo">
<input wsam:Action="http://api/ApiUsuarios/usuarioTipoRequest" message="tns:usuarioTipo"></input>
<output wsam:Action="http://api/ApiUsuarios/usuarioTipoResponse" message="tns:usuarioTipoResponse"></output>
</operation>
<operation name="crearRevisor">
<input wsam:Action="http://api/ApiUsuarios/crearRevisorRequest" message="tns:crearRevisor"></input>
<output wsam:Action="http://api/ApiUsuarios/crearRevisorResponse" message="tns:crearRevisorResponse"></output>
</operation>
<operation name="crearAutor">
<input wsam:Action="http://api/ApiUsuarios/crearAutorRequest" message="tns:crearAutor"></input>
<output wsam:Action="http://api/ApiUsuarios/crearAutorResponse" message="tns:crearAutorResponse"></output>
</operation>
</portType>
<binding name="ApiUsuariosPortBinding" type="tns:ApiUsuarios">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="usuarioTipo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="crearRevisor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="crearAutor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="ApiUsuariosService">
<port name="ApiUsuariosPort" binding="tns:ApiUsuariosPortBinding">
<soap:address location="http://localhost:9990/ws/javearticulos/usuario"></soap:address>
</port>
</service>
</definitions>